:root {
  // Font-styling
  --commonFont-2extraLarge: 21px;
  --commonFont-extraLarge: 18px;
  --commonFont-large: 16px;
  --commonFont: 14px;
  --commonFont-medium: 13px;
  --commonFont-small: 12px;
  --commonFont-extraSmall: 11px;
}


@media only screen and (max-width: 1560px) {
  :root {
    // Font-styling
    --commonFont-2extraLarge: 19px;
    --commonFont-extraLarge: 16px;
    --commonFont-large: 14px;
    --commonFont: 12px;
    --commonFont-medium: 11px;
    --commonFont-small: 10px;
    --commonFont-extraSmall: 9px;
  }
}